<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Register</div>
                            <div class="card-body">

                                <form class="form-horizontal" method="post" action="#">

                                    <div class="form-group">
                                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username" class="cols-sm-2 control-label">Username</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="cols-sm-2 control-label">Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                                    </div>
                                    <div class="login-register">
                                        <a href="index.php">Login</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
</div>

class AdminCreatePost(ListView):
    model = Post
    template_name = 'adminaddpost.html'
    ordering = ['-pub_date']
    context_object_name = 'posts'

    def get(self, request, *args, **kwargs):
        new_post = Post()
        new_post.name = request.POST
        new_post.face = request.POST
        new_post.image = request.POST
        new_post.save()
        return redirect('adminpost')

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Pierrot Studio contributors">
    <meta name="generator" content="">
    <title>Signin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">



    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="https://i.ibb.co/XS34B5Q/logo-new.png" sizes="180x180">
<link rel="icon" href="https://i.ibb.co/XS34B5Q/logo-new.png" sizes="32x32" type="image/png">
<link rel="icon" href="https://i.ibb.co/XS34B5Q/logo-new.png" sizes="16x16" type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://i.ibb.co/XS34B5Q/logo-new.png" color="#7952b3">
<link rel="icon" href="https://i.ibb.co/XS34B5Q/logo-new.png">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">

<main class="form-signin">
  <form action="login_success" method="post">
      {% csrf_token %}
    <img class="mb-4" src="https://i.ibb.co/XS34B5Q/logo-new.png" alt="" width="120" height="110">
    <h1 class="h3 mb-3 fw-normal">Sign In</h1>
      {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <b>{{ message }}</b>
    </div>
    {% endfor %}
    </div>
{% endif %}

    <label for="inputUsername" class="visually-hidden">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="username" required>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <input type="submit" value="Log In" class="btn btn-outline-success">
      <a href="{% url "register" %}" class="btn btn-outline-danger" role="button" >Register</a>
      <p></p>
      <div><a href="{% url "home" %}"><- Back To Home</a></div>
      <p class="mt-5 mb-3 text-muted">&copy; 2021 Power By Pierrot Studio </p>
  </form>
</main>



  </body>
</html><!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Pierrot Studio contributors">
    <meta name="generator" content="">
    <title>Signin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">



    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="https://i.ibb.co/XS34B5Q/logo-new.png" sizes="180x180">
<link rel="icon" href="https://i.ibb.co/XS34B5Q/logo-new.png" sizes="32x32" type="image/png">
<link rel="icon" href="https://i.ibb.co/XS34B5Q/logo-new.png" sizes="16x16" type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://i.ibb.co/XS34B5Q/logo-new.png" color="#7952b3">
<link rel="icon" href="https://i.ibb.co/XS34B5Q/logo-new.png">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">

<main class="form-signin">
  <form action="login_success" method="post">
      {% csrf_token %}
    <img class="mb-4" src="https://i.ibb.co/XS34B5Q/logo-new.png" alt="" width="120" height="110">
    <h1 class="h3 mb-3 fw-normal">Sign In</h1>
      {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <b>{{ message }}</b>
    </div>
    {% endfor %}
    </div>
{% endif %}

    <label for="inputUsername" class="visually-hidden">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="username" required>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <input type="submit" value="Log In" class="btn btn-outline-success">
      <a href="{% url "register" %}" class="btn btn-outline-danger" role="button" >Register</a>
      <p></p>
      <div><a href="{% url "home" %}"><- Back To Home</a></div>
      <p class="mt-5 mb-3 text-muted">&copy; 2021 Power By Pierrot Studio </p>
  </form>
</main>



  </body>
</html>