.social-section{
	padding: 5px;-webkit-box-shadow: 0px -1px 10px #000;-moz-box-shadow: 0px -1px 10px #000;-o-box-shadow: 0px -1px 10px #000;box-shadow: 0px -1px 10px #000;
}
.social-section h3{ font-weight: bold; color: #333}
.social-section h6{ color: #6d6d6d; margin-left: 35px;}
.social-section i{
	color: #6d6d6d;
	margin: 10px 5px;
	cursor: pointer;
}
.social-section .fa-facebook:hover{color: #3b5998}
.social-section .fa-instagram:hover{color: #833ab4}
.social-section .fa-twitter:hover{color: #1da1f2}
.social-section .fa-youtube-play:hover{color: #ff0000}
.social-section .fa-twitch:hover{color: #6441a5;}
.social-section .fa-google-plus:hover{color: #dd4b39}
.social-section .fa-pinterest:hover{color: #bd081c}
.social-section .fa-tumblr:hover{color: #35465c;}
