{% extends 'layout.html' %}
{% load static %}

{% block content%}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/addpost.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/addpost.css' %}" type="text/css" />

    <p></p>
    <div class="container-fluid">
         <div class="row">
             <div class="col-md-2">
                <div class="vh-100 card">
                    <div class="card-body">
                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'admin' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'adminpost' %}">Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Setting</a>
                            </li>
                            <li class="nav-item">
                    <a class="nav-link" href="#">Members</a>
                </li>
                </ul>
             </div>
             </div>
             </div>

                    <div class="col-md-10">
                        <div class="card vh-100">
                            <div class="card-body">
                                <p></p>
                                <h3 class="border-bottom pb-2 mb-0"> Add Post </h3>
                            <p></p>
                                <form class="form-horizontal" action="{% url 'adminaddpost' %}" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                                    <input type="text" class="form-control" aria-label="title" aria-describedby="inputGroup-sizing-default" name="title">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="inputGroupFile02" name="image">
                                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px" name="desc"></textarea>
                                    <label for="floatingTextarea2">Description</label>
                                </div>
                                    <br>
                                <nav>
                                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">THAI</button>
                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">RAW</button>
                                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">ENG</button>
                                  </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <p></p>
                                    <div class="container">
                                        <div class="row clearfix">
                                            <div class="col-md-12 table-responsive">
                                                <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                                                    <thead>
                                                        <tr >
                                                            <th class="text-center">
                                                                ตอน
                                                            </th>
                                                            <th class="text-center">
                                                                ลิงค์วิดีโอ
                                                            </th>
                                                            <th class="text-center">
                                                                ลบ
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id='addr0' data-id="0" class="hidden">
                                                            <td data-name="episode" style="width: 150px;">
                                                                <input type="text" name="episode"  placeholder='Episode' class="form-control">
                                                            </td>
                                                            <td data-name="link">
                                                                <input type="text" name="videolink" placeholder='Link' class="form-control">
                                                            </td>
                                                            <td data-name="del" style="width: 80px;">
                                                                <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">×</span></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a id="add_row" class="btn btn-primary float-right">Add Row</a>
                                    </div>
                                    </div>
                                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                          <p></p>
                                    <div class="container">
                                        <div class="row clearfix">
                                            <div class="col-md-12 table-responsive">
                                                <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                                                    <thead>
                                                        <tr >
                                                            <th class="text-center">
                                                                ตอน
                                                            </th>
                                                            <th class="text-center">
                                                                ลิงค์วิดีโอ
                                                            </th>
                                                            <th class="text-center">
                                                                ลบ
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id='addr0' data-id="0" class="hidden">
                                                            <td data-name="episode" style="width: 150px;">
                                                                <input type="text" name="episode"  placeholder='Episode' class="form-control">
                                                            </td>
                                                            <td data-name="link">
                                                                <input type="text" name="videolink" placeholder='Link' class="form-control">
                                                            </td>
                                                            <td data-name="del" style="width: 80px;">
                                                                <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">×</span></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a id="add_row" class="btn btn-primary float-right">Add Row</a>
                                    </div>

                                      </div>
                                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                          <p></p>
                                    <div class="container">
                                        <div class="row clearfix">
                                            <div class="col-md-12 table-responsive">
                                                <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                                                    <thead>
                                                        <tr >
                                                            <th class="text-center">
                                                                ตอน
                                                            </th>
                                                            <th class="text-center">
                                                                ลิงค์วิดีโอ
                                                            </th>
                                                            <th class="text-center">
                                                                ลบ
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id='addr0' data-id="0" class="hidden">
                                                            <td data-name="episode" style="width: 150px;">
                                                                <input type="text" name="episode"  placeholder='Episode' class="form-control">
                                                            </td>
                                                            <td data-name="link">
                                                                <input type="text" name="videolink" placeholder='Link' class="form-control">
                                                            </td>
                                                            <td data-name="del" style="width: 80px;">
                                                                <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">×</span></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a id="add_row" class="btn btn-primary float-right">Add Row</a>
                                    </div>

                                      </div>
                                    </div>
                                    <p></p>
                                    <input type="submit" value="Save" class="btn btn-primary"/>
                                    </div>
                                  </div>

                                </form>
                            </div>
                        </div>
                    </div>
             </div>
</div>


{% endblock %}