{% load static %}
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{%  static  'css/error.css'  %}"/>
</head>
<body style="background-color: lightgray">
<div class="container error-container">
	<div class="row  d-flex align-items-center justify-content-center">
		<div class="col-md-10 text-center">
			<h1 class="big-text">หยุดก่อน!</h1>
			<h1 class="small-text">404 - ไม่พบหน้าเพจนี้</h1>
		</div>
		<div class="col-md-6  text-center">
			<p> หน้าเว็บนี้อาจมีการเปลี่ยนแปลงหรืออาจถูกลบออกไปแล้ว โปรดลองใหม่อีกครั้งหรือติดต่อแอดมินเว็บไซต์ </p>
			<a href="{%   url 'home' %} " class="button button-dark-blue iq-mt-15 text-center">กลับไปหน้าแรก</a>
		</div>
	</div>
</div>
</body>
</html>


